/vendor/
/node_modules/
/public/storage
/storage/app/*
!/storage/app/public
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*
.env
.env.*
.phpunit.result.cache
.DS_Store
*.bak
*.bak.*
/public/build.zip
/artisan-egpcs
/php-cli.ini
